node_modules
dist/
*.log
*.sql
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dataSources.xml
/.idea/expenses-graphql.iml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
.env
